<%= render :partial=>"topbottom/header" %>

<div class="wrapper" id='wrapper_main' xmlns="http://www.w3.org/1999/html">

	<div class="center">

	<div id="main">

          <div class="content">
          <h1>About Us</h1>
            <a href="https://twitter.com/themorningdump" class="twitter-follow-button" data-show-count="false">Follow @themorningdump</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          <br />
            <p>I wish I can say that we are a venture backed company with millions in Series A funding. Nope. I wish I can say we have an executive board team packed with experience and years of wisdom. Nope. I wish I can say there is an Us. Nope.</p>
            <p>Nsprme is just one person. Hi, my name is Sam. I am an engineer and that is why the design of Nsprme is lacking and not very web 2.0. It’s a theme that was modified from Theme Forest I will dig through the source code so I can credit the original author. I really hacked it up.</p>
            <p>Why did I create Nsprme? I like the social picture sharing that is going on in the mobile field but I find that the lack of a website front end leaves a lot to be desired. More people have access to the Internet then the Iphone. Having a web front end allows for more interaction and enables new image discovery. The other reason for creating Nsprme was a technical demonstration of the technologies I can use and show how fast it is to get something to market. The Iphone app, the website, setting up the server all done by hand and all completed within a month’s time. I was responsible for setting up the server from user administration and installing Nginx, to deploying and creating the ruby application, and simultaneously creating the Iphone application within 4 weeks time. Working in San Francisco I wanted to be able to show my varied range of skills and have something to put on my resume.</p>
            <p>I hope you find the site useful and if you have any questions or comments hit me up. You can follow me on twitter (see the sidebar) or send me an email sam (at) nsprme *dot* com. Thank you for at least reading this.</p>
            <br />
            <p>Sign up for Nsprme today or peruse our vast collection of user submitted photos or contribute by downloading the Iphone app.</p>
          <br />

          </div>
        </div>
    </div>

</div>


<%= render :partial => "topbottom/footer" %>