<%= render :partial=>"topbottom/header" %>

<div class="wrapper" id='wrapper_main'>

	<div class="center">

	<div id="main">

          <div class="content">
          <h1>FAQ</h1>
          <br />
          <ul>
            <li>Why use Nsprme?</li>
          </ul>
          <br />

          </div>
        </div>
    </div>

</div>


<%= render :partial => "topbottom/footer" %>