<%= render :partial=>"topbottom/header" %>

<div class="wrapper" id='wrapper_main'>

	<div class="center">



		<div id="main">

          <div class="content">
            <h1>No profile available</h1>
          <p>Oh Noes! This person hasn't setup their profile yet. Check back in the future! If you know this person get them
          to setup their profile. They will know that someone is interested.</p>

          </div>
        </div>
    </div>
</div>

<%= render :partial => "topbottom/footer" %>