<%= render :partial=>"topbottom/header" %>

<div class="wrapper" id='wrapper_main'>

	<div class="center">



		<div id="main">
        <h1>Frequently Asked Questions</h1>

            <div id="content">
             <%= render @faqs %>
            </div>


        </div>  <!-- End Main -->
    </div> <!-- End Center -->

    </div> <!-- Main Wrapper -->
<%= render :partial => "topbottom/footer" %>