<%= render :partial=>"topbottom/header" %>

<div class="wrapper" id='wrapper_main'>

  <div class="center">
    <h2>Sign up</h2>

    <div id="main">
      <div class="entry">
      <!-- Main Body of code -->


        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div><%= f.label :email %><br />
          <%= f.email_field :email %></div>

          <div><%= f.label :password %><br />
          <%= f.password_field :password %></div>

          <div><%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation %></div><br />

          <div><%= f.submit "Sign up", :class=>"button"%></div>
        <% end %>

        <%= render "links" %>
      </div>
      <br />
    </div>  <!-- End Main -->
  </div> <!-- End Center -->

</div> <!-- Main Wrapper -->


<%= render :partial => "topbottom/footer" %>




