<li class="comment">
  <div>
    <div class="gravatar">
      <%= image_tag( comment.avatar_profile_url, :width=>60, :height=>60, :class=>"avatar avatar-60 photo") %>
    </div>
    <div class="comment_content">
        <span class="says"></span>
        <div class="comment_text" style="text-align: left;"><%=comment.body %></div>
    </div>
  </div>
</li>