
<div class="gallery_entry <%="last" if [2,5,8].include?(image_counter) %>" style="position: relative;">
  <div><%=image_tag(image.user.avatar_profile_url, :width=>20, :height=>20) %><span style="display: inline-block; padding-left: 3px; font-weight: bold; font-size: medium;"><%= image.user.nickname || image.user.name %></span></div><div style="clear: both;"></div>

    <div class="gallery_inner" style="position: relative;">

        <a class='preloading gallery_image' href="<%=image_url(image.slug) %>">
            <!--<span class="featured_entry"></span>-->
            <%= image_tag( image.file.gallery.url, :class=>"item_small" ) %>
            <%= image_tag( image.file.url, :class=>"item_big no_preload") %>
        </a>
        <span class='comment_link'><%=image.comments.count %></span>
        <div class='comment_link' style="position: absolute; left: 9px; top: 148px; width: 96px; background:  transparent;">
           <%= image.plusminus %>  Nspre'd
        </div>


    </div>

  <h3><%= image.caption.blank? ? nil : image.caption %></h3>
  <%= render "gallery_comment", :image=>image  %>

</div>