<%= render :partial=>"topbottom/header" %>

<div class="wrapper" id='wrapper_main'>

	<div class="center">



		<div id="main">
        <% unless @terms.blank? %>
            <h1>Search terms: <%= @terms %></h1>
        <% end %>

            <div id="content" class="entry">
              <% if @images.blank? %>
              <%= flash[:notice] %>
              <% else %>
              <div class="entry"> <!-- This is the Featured row -->
                  <%= render :partial => "gallery_entry", :collection => @images[0..2], :as=>"image" %>
              </div>

               <div class="entry"> <!-- This is the Featured row -->
                  <%= render :partial => "gallery_entry", :collection => @images[3..5], :as=>"image" %>
              </div>

              <div class="entry"> <!-- This is the Featured row -->
                  <%= render :partial => "gallery_entry", :collection => @images[6..8], :as=>"image" %>
              </div>

              <%= paginate @images %>
              <% end %>
            </div>


        </div>  <!-- End Main -->
    </div> <!-- End Center -->

    </div> <!-- Main Wrapper -->
<%= render :partial => "topbottom/footer" %>