Hi,

This email was sent to you from nsprme.com, a photo sharing service. This person with the email address: <%= @user.email %> <%= @user.name || ''  %> would
like to send you an email that contains pictures they take from their mobile phone. If this is ok with you please click
on the link below marked confirm. If you do not want to receive emails from this person then ignore this email. If you
feel this email was sent as SPAM or maliciously please report it by clicking on the link marked REPORT and we will investigate.

CONFIRM: <%= verify_other_email_url(:email=>@to_email, :token=>@code) %>

REPORT: Forward this email to support@nsprme.com

Thank you,
Nsprme.com
"What Inspires You?"