Hi,
<p>
This email was sent to you from nsprme.com, a photo sharing service. This person with the email address: <%= @user.email %> <%= @user.name || ''  %> would
like to send you an email that contains pictures they take from their mobile phone. If this is ok with you please click
on the link below marked confirm. If you do not want to receive emails from this person then ignore this email. If you
feel this email was sent as SPAM or maliciously please report it by clicking on the link marked REPORT and we will investigate.
</p>
<b>CONFIRM</b>: <%= link_to( "Click here to confirm", verify_other_email_url(:email=>@to_email, :token=>@code) ) %>
<br />
<b>REPORT</b>: Forward this email to <a href="mailto:support@nsprme.com">support@nsprme.com</a>.
<br />
<p>
 You can view the persons profile <%= link_to( "here", profile_url(:id=>@user.slug) ) %>.
 </p>
Thank you,<br />
<a href="http://www.nsprme.com">Nsprme.com</a><br />
<i>"What Inspires You?"</i>