Hi,

You registered on the website via facebook login. We didn't find a record with you logging in from your
mobile device first. Please keep this password in a secure location. If you decide to download the program
and login from the mobile device you will need this password.

Password: <%= @password %>

Please keep this in a secure location and don't lose it. If you need any help please contact support@nsprme.com.

Sincerely,

nsprme.com