Hi,

Someone saw your photo on nsprme.com and found it inspiring. Keep submitting your photos and continue to inspire others.

Photo URL: <%= image_slug_url(:id=>@image.slug) %>

Share this photo on your twitter or facebook feed. Go into Nsprme select the photo and click on 'share'.

To discontinue receiving these emails respond to support@nsprme.com or change your settings in setting goto nsprme.com login and uncheck 'Newsletter'. You will not receive anymore emails.

Soon you will be able to access this on your phone. Nsprme is a continued work in progress and we value all your feedback.

Thanks,
Npsrme.com