<div class="gallery_entry <%="last" if [2,5,8].include?(image_counter) %>">

    <div class="gallery_inner">

        <a class='preloading gallery_image' href="<%=image_url(image.slug) %>">
            <!--<span class="featured_entry"></span>-->
            <%= image_tag( image.file.gallery.url, :class=>"item_small" ) %>
            <%= image_tag( image.file.url, :class=>"item_big no_preload") %>
            <!--<img src="assets/files/content_pic_small1.jpg" alt="" class='item_small' />-->
            <!--<img src="assets/files/content_pic_med1.jpg" alt="" class='item_big no_preload' />-->
        </a>
        <span class='comment_link'><%=image.comments.count %></span>
        <div class='comment_link' style="position: absolute; left: 9px; top: 148px; width: 96px; background:  transparent;">
           <%= image.plusminus %>  Nspre'd
        </div>
    </div>
<h3><%= image.caption.blank? ? nil : image.caption %></h3>
</div>