<%= render :partial=>"topbottom/header" %>



<div class="wrapper" id='wrapper_main'>

	<div class="center">
      <h2 style="padding-top: 10px;">Profile for <%=@user.nickname || "Not Set" %></h2>


		<div id="main">

          <div class="entry" style="max-width: 640px;">
                 Followers: <%= @user.followers_count %> <br />
                 Pictures: <%= Image.find_all_by_user_id(@user).size %> <br />
                Your profile URL: <%= url_field_tag "Profile", profile_url(@user.slug), :size=>45 %>
          </div>

			<div class="content the_gallery">
				<div class="entry"> <!-- This is the Featured row -->
                    <%= render :partial => "gallery_entry", :collection => @images[0..2], :as=>"image"%>
                </div>

              	<div class="entry"> <!-- This is the Featured row -->
                    <%= render :partial => "gallery_entry", :collection => @images[3..5], :as=>"image" %>
                </div>

              	<div class="entry"> <!-- This is the Featured row -->
                    <%= render :partial => "gallery_entry", :collection => @images[6..8], :as=>"image" %>
                </div>

                <%= paginate @images %>
            </div> <!-- End Content -->

          <div class="sidebar" style="float:right;">
                  <% #= render :partial => "wall" %>
          </div> <!-- End Sidebar -->


        </div>  <!-- End Main -->
    </div> <!-- End Center -->

    </div> <!-- Main Wrapper -->
<%= render :partial => "topbottom/footer" %>