<%= render :partial=>"topbottom/header" %>

<div class="wrapper" id='wrapper_main'>

  <div class="center">
    <h2>Change your password</h2>

    <div id="main">
      <div class="entry">
      <!-- Main Body of code -->
        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <div><%= f.label :password, "New password" %><br />
          <%= f.password_field :password %></div>

          <div><%= f.label :password_confirmation, "Confirm new password" %><br />
          <%= f.password_field :password_confirmation %></div>
          <br />
          <div><%= f.submit "Change my password", :class=>"button" %></div>
        <% end %>

        <%= render "links" %>
      </div>
      <br />
    </div>  <!-- End Main -->
  </div> <!-- End Center -->

</div> <!-- Main Wrapper -->


<%= render :partial => "topbottom/footer" %>





