<%= render :partial=>"topbottom/header" %>

<div class="wrapper" id='wrapper_main'>

  <div class="center">
    <h2>Forgot your password?</h2>

    <div id="main">
      <div class="entry">
      <!-- Main Body of code -->
        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
          <%= devise_error_messages! %>

          <div><%= f.label :email %><br />
          <%= f.email_field :email %></div>
           <br />
          <div><%= f.submit "Send me reset password instructions", :class=>"button" %></div>
        <% end %>

        <%= render "links" %>
      </div>
      <br />
    </div>  <!-- End Main -->
  </div> <!-- End Center -->

</div> <!-- Main Wrapper -->


<%= render :partial => "topbottom/footer" %>



