		<div class="one_third last">
		<div class="box widget">
				<h3>Activity Feed</h3>
				<p>Check out the latest happenings</p>
				<p class="small_block">Sam got the layout working</p>
			</div>
		</div>