		<div class="one_third">

		<div class="box_small box widget widget_categories" ><h3 class="widgettitle">Categories</h3>
			<ul>
				<li><a href="index.html">Network News</a></li>
				<li><a href="blog.html">Web Design &amp; Development</a></li>
				<li><a href="single.html">Adobe Creative Suite 4</a></li>
				<li><a href="fullwidth.html">Dreamweaver CS4</a></li>
				<li><a href="page.html">jQuery - Write less do more</a></li>
				<li><a href="fullwidth.html">Mootools - A compact javascript framework</a></li>
			</ul>
		</div>




		<div class="box_small box widget widget_archive" ><h3 class="widgettitle">Archives</h3>
			<ul>
				<li><a title="March 2010" href="archive.html">March 2010</a></li>
				<li><a title="February 2010" href="archive.html">February 2010</a></li>
				<li><a title="January 2010" href="archive.html">January 2010</a></li>
			</ul>
		</div>
		</div>