<div class="wrapper" id='wrapper_head'>

	<div class="center">

		<div id="head">

			<h1 class="logo"><a href="index.html" class='ie6fix'>CleanCut</a></h1>
			<ul id="nav">
				<li class='current' id='home'><%= link_to("Home", root_url ) %></li>
                <li><a href="http://blog.nsprme.com">Blog</a></li>
				<li><%= link_to( "About", about_url )%></li>
			</ul>


			<div id="headextras" class='rounded'>

               <div id="login">
                 <% if not user_signed_in? %>
                    <%= link_to( "Login", new_user_session_url) %> or <%= link_to("Create Account", new_user_registration_url )%>. Forgot your <%= link_to("password", new_user_confirmation_url )%>?
                 <% else %>
                    Welcome back! Goto <%= link_to("Settings", edit_setting_url) %>. <%= link_to("Logout", destroy_user_session_path, :method=>:delete) %>
                 <% end %>
                     </div>

				<ul class="social_bookmarks">
					<!--<li class='facebook'><a class='ie6fix' href="#">Facebook</a></li>-->
                  <li class='facebook'><%= link_to "Facebook", user_omniauth_authorize_path(:facebook), :class=>"ie6fix" %></li>
					<!--<li class='rss'><a class='ie6fix' href="#">RSS</a></li>-->
					<!--<li class='twitter'><a class='ie6fix' href="#">Twitter</a></li>-->
				</ul><!-- end social_bookmarks-->

			<!-- end headextras: -->
			</div>


		<!--end head-->
		</div>

	<!-- end center-->
	</div>
<!--end wrapper-->
</div>