<div class="one_third">

    <div class="box_small box widget community_news"><h3 class="widgettitle">Latest News</h3>
    <div class="entry box_entry">
    <h4><a href="single.html">Nspireme.com launches!</a></h4>

    <a href="single.html"><img title="Hello world!" alt="" src="assets/files/mini_pic2.jpg" class="rounded alignleft"/></a><p>New social picture site opens with limited slots available for early adopters. Sign up today and guarantee your spot.</p>
    </div>
    </div>

</div>