<% unless image.comments.blank? %>
<div style="margin-left: 3px; margin-right: 3px;">
  <ul>
    <% image.comments.sample(3).each do |comment| %>
        <li style="background: transparent;"><%= image_tag(comment.user.avatar_profile_url, :width=>20, :height=>20) %><span style="padding-left: 3px;"><%= truncate( comment.body, :length=>55 ) %></span></li>
    <% end %>
  </ul>
</div>
<% end %>