
<div class="box_small box widget community_news"><h3 class="widgettitle">Search</h3>
<%= form_tag(search_url, :method=>:post) do %>
    <%= text_field_tag :terms, nil, :placeholder=>"Comma separated search terms", :size=>30 %> <br />
    <%= submit_tag "Search" %>
<% end %>
</div>