<%= render :partial=>"topbottom/header" %>

<div class="wrapper" id='wrapper_main'>

	<div class="center">



		<div id="main">

			<div class="content the_gallery">

				<div class="entry"> <!-- This is the Featured row -->
                    <%= render :partial => "gallery_entry", :collection => @images[0..2], :as=>"image" %>
                </div>

              	<div class="entry"> <!-- This is the Featured row -->
                    <%= render :partial => "gallery_entry", :collection => @images[3..5], :as=>"image" %>
                </div>

              	<div class="entry"> <!-- This is the Featured row -->
                    <%= render :partial => "gallery_entry", :collection => @images[6..8], :as=>"image" %>
                </div>

                <%= paginate @images %>
            </div> <!-- End Content -->


          <div class="sidebar">
            <% #render :partial => "activity_feed" %>
            <%= render :partial => "search_box" %>
          </div> <!-- End Sidebar -->

          <div class="sidebar">
            <div class="box_small box widget community_news">
            <h2>Share</h2>
              <a href="https://twitter.com/themorningdump" class="twitter-follow-button" data-show-count="false">Follow @themorningdump</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                <br />
                <div class="fb-like" data-href="http://www.facebook.com/nsprme" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true"></div>
            </div>
          </div>
          
          <div class="sidebar">
            <div class="box_small box widget community_news">
              <h2>Support</h2>
              For support please email <a href="mailto:support@nsprme.com">support@nsprme.com</a>. I will respond within 24 hours.
            </div>
          </div>

        </div>  <!-- End Main -->
    </div> <!-- End Center -->

    </div> <!-- Main Wrapper -->
<%= render :partial => "topbottom/footer" %>