<%= render :partial=>"topbottom/header" %>

<script type="text/javascript">


(function($) {
    $(document).ready( function() {
                $("#enable-push").change( function() {
                    if ($("#enable-push").is(":checked") )
                        $("#push-table").show();
                    else
                        $("#push-table").hide();
                });

                // On load check the value of the radio button and adjust accordingly
                if ($("#enable-push").is(":checked") )
                    $("#push-table").show();
                else
                    $("#push-table").hide();
            }
    );
})(jQuery);

</script>

<div class="wrapper" id='wrapper_main'>

	<div class="center">
        <div style="margin-top: 10px;"><h2>Profile for <%= current_user.name || current_user.nickname %></h2></div>

		<div id="main">
           <div class="entry">
            <% #link_to( "Edit Emails", edit_email_url ) %>
            <%= form_for current_user.setting do |f| %>
                <%= f.hidden_field :id %>
                <%= f.label :profile, "Profile" %>:<br />
                <%= f.text_area :profile, :size=>"80x5" %>  <br />
                <%= f.label :newsletter, "Newsletter" %>
                <%= f.check_box :newsletter %> <br />
                 <%= f.label :enable_push_notification, "Enable Push Notification" %>
                 <%= f.check_box :enable_push_notification, :id=>"enable-push" %> <br />
                <table cellspacing="0" style="width: 50%; padding-bottom: 5px;" id="push-table">
                <caption>Push Notification Settings</caption>
                  <tbody>
                  <tr>
                    <th scope="row"><%= f.label :push_comment, "Comments" %></th>
                    <td><%= f.check_box :push_comment %></td>
                  </tr>
                  <tr>
                    <th class="alt" scope="row"><%= f.label :push_follow, "Follow" %></th>
                    <td class="alt"><%= f.check_box :push_follow %></td>
                  </tr>
                  </tbody>
                </table>

                <%= f.submit "Save", :class=>"button" %>
            <% end %>
            </div>
        <br />
        </div>  <!-- End Main -->
    </div> <!-- End Center -->

    </div> <!-- Main Wrapper -->


<%= render :partial => "topbottom/footer" %>