<%= render :partial=>"topbottom/header" %>

<div class="wrapper" id='wrapper_main'>

  <div class="center">
    <div style="margin-top: 10px;"><h2>Profile for <%= current_user.name || current_user.nickname %></h2></div>

    <div id="main">
      <div class="entry">
      <!-- Main Body of code -->
      </div>
      <br />
    </div>  <!-- End Main -->
  </div> <!-- End Center -->

</div> <!-- Main Wrapper -->


<%= render :partial => "topbottom/footer" %>