<%= render :partial=>"topbottom/header" %>

<div class="wrapper" id='wrapper_main'>

  <div class="center">
    <h2>Sign in</h2>

    <div id="main">
      <div class="entry">
      <!-- Main Body of code -->
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <div><%= f.label :email %><br />
          <%= f.email_field :email %></div>

          <div><%= f.label :password %><br />
          <%= f.password_field :password %></div>

          <% if devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
          <% end -%>

          <div><%= f.submit "Sign in", :class=>"button" %></div>
        <% end %>

        <%= render "links" %>
      </div>
      <br />
    </div>  <!-- End Main -->
  </div> <!-- End Center -->

</div> <!-- Main Wrapper -->


<%= render :partial => "topbottom/footer" %>




