<div style="width: 100%;  text-align: center;">
    <%= image_tag( image.file.gallery.url, :style=>"width: 95%; margin: 0px auto;" ) %>
  <div style="float: left; padding-top: 24px; width: 49%; font-size: 60px; height: 150px;">0 Nspre'd</div><div style="float: left; padding-top: 24px; font-size: 60px; height: 150px;">0 Comments</div>
</div>