<!DOCTYPE html>
<html>
<head>
  <title>User Picture Show</title>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
  <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
</head>

<body>

<div data-role="page">
   <%= render :partial=>"image", :collection => @images, :as=>:image %>
</div>

</body>
</html>