<tr>
  <td scope="row" <%= "class='alt'" if email_counter % 2 == 0 %> ><%= email.email %></td>
  <td style="text-align: center;" <%= "class='alt'" if email_counter % 2 == 0 %> >Activated: NO&nbsp;&nbsp;&nbsp;&nbsp;[<%= link_to( "DELETE", email_path(:email=>email), :method=>:delete ) %>]</td>
</tr>