<%= render :partial=>"topbottom/header" %>

<div class="wrapper" id='wrapper_main'>

	<div class="center">
        <div style="margin-top: 10px;"><h2>Emails for <%= current_user.name || current_user.nickname %></h2></div>
      <% if flash[:notice] %>
        <p style="color:green"><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:error] %>
        <p style="color:red"><%= flash[:error] %></p>
      <% end %>
		<div id="main">
           <div class="entry">
           <span>Here you can enter or delete emails. When you upload an image a link of the image will be sent to all of
           these email addresses.</span> <br /><br />
            <%= form_for Email.new, :url=>email_path, :method=>:post do |f| %>
                <%= f.label :email, "Email" %>
                <%= f.text_field :email, :size=>50 %>
                <%= f.submit "Save Email", :class=>"button" %>
            <% end %>
            <table id="emails" cellspacing="0" style="width: 100%;">
              <caption>Broadcast email addresses</caption>
              <tbody>
                <tr>
                  <th scope="row">Email Address</th>
                  <th style="text-align: center; width: 30%;">Actions</th>
                </tr>
                <%= render :partial=>"emails/email", :collection=>@emails, :as=>:email %>
              </tbody>
            </table>
            </div>
        <br />
        </div>  <!-- End Main -->
    </div> <!-- End Center -->

    </div> <!-- Main Wrapper -->


<%= render :partial => "topbottom/footer" %>