<%= render :partial=>"topbottom/header" %>

<div class="wrapper" id='wrapper_main'>

	<div class="center">



		<div id="main">
         <h1>Thank you for verifying your email</h1>
			<div class="content">
                You have successfully verified your email address. Just sit back and wait for your friend to start sending you 
              some images. If you have any questions or wished to be removed please contact your friend, if that doesn't help please
              send an email to <a href="mailto:support@nsprme.com">support@nsprme.com</a>.
            </div> <!-- End Content -->

        </div>  <!-- End Main -->
    </div> <!-- End Center -->

    </div> <!-- Main Wrapper -->
<%= render :partial => "topbottom/footer" %>