<h2>Comments</h2>
<% if @comments.blank? %>
    <h3 id="no_comment_title">No Comments. Be the first!</h3>
<% end %>

 <div class="entry commententries">
     <ol id="comments" class="commentlist">
        <%= render @comments %>
     </ol>
     <%= paginate @comments %>
 </div>
