<% if not user_signed_in? %>
    Please <%= link_to( "Login", new_user_session_url) %> to leave a comment.
<% else %>
        <%=form_for [@img, Comment.new], :remote=>true do |f| %>
        Comment: <p><%= f.text_area :body, :size=>"80x4" %></p>
        <%= f.hidden_field :image_id, :value=>@img.id %>
        <%= f.hidden_field :user_id, :value=>current_user.id %>
        <%= f.submit "Add Comment", :class=>"button" %>
    <% end%>

<% end %>