<% tag_cloud(@tags, %w(tag1 tag2 tag3 tag4)) do |tag, css_class| %>
   <% #link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
   <span class=<%=css_class%>><%= tag.name %> </span>
<% end %>