<span style="font-size: large; font-weight: bold;">Taken By: <a href="<%= profile_url(:id=>@user.slug) %>"><%= @user.nickname || "Anonymous" %></a></span> <br />
<span>Followers: <%= @user.followers_count %> <%= current_user.following?(@user) ? link_to( "Unfollow", unfollow_user_url(@img.slug), :remote=>true, :id=>"follow-link", :method=>:post) : link_to( "Follow", follow_user_url(@img.slug), :remote=>true, :id=>"follow-link", :method=>:post) if not current_user.blank? %> </span> <br />
<span class='rating_label'><%=link_to("Nspr'd Me", favorite_image_path(@img.slug), :id=>"favorite_link", :remote=>true, :method=>:post) if user_signed_in? and not @img.voted_by?(current_user) %> </span>
