<%= render :partial=>"topbottom/header" %>

<%= javascript_tag do %>
jQuery(document).ready( function() {
    jQuery("#favorite_link").bind("ajax:success", function(evt, data,status, xhr) {
        jQuery('#favorite_link').remove();
    });
});

    (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();

    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

<% end %>

<div class="wrapper" id='wrapper_main'>

	<div class="center">



		<div id="main">

          <div class="content">

            <div class="entry">

              	<!-- ###################################################################### -->
				<div class="feature_wrap feature_wrap1">
				<!-- ###################################################################### -->
					<div class='featured_inside'>

							<div class="featured featured1" style="width: 640px; text-align: center;">

                              <%= image_tag(@img.file.url, :id=>"image-view", :alt=>"", :style=>"max_width: 640px; overflow: hidden; visibility: visible;") %>

							</div><!-- end .featured -->

					</div>
				<!-- ###################################################################### -->
				</div><!-- end featuredwrap -->
				<!-- ###################################################################### -->

               <div class="clean-gray-box">
                   <span class="date">
                        <span class='date_day'><%=@date.day %></span>
                        <span class='date_month'><%=@date.strftime("%^b") %></span>
                   </span>
                   <div class="entry-head bloghead">
                       <h1 class='siteheading'><%=@img.caption ||= "No Caption"%></h1>
                   </div>
                   <div class="entry-content">
                   </div>
               </div>

              <div class="clean-gray-box image-comments" style="overflow: hidden;">
                  <h2 style="display: inline; float:left;">People who are Nspre'd</h2> <br />
                  <div style="width: 100%; float: left;"><%= render :partial=>"voter", :collection=>@voters, :as=>:voter %></div>
              </div>

               <div class="clean-gray-box image-comments">
                 <%= render "comment_box" if user_signed_in? %>
                 <%= render "comments" %>
                 <div style="clear:both;">&nbsp;</div>
               </div>
            </div>

          </div>

          	<div class="sidebar" style="width: 240px;margin-left: 20px;">

                <div class="box" id="user-box">
                    <%= render :partial=>"user" %>
                </div>


                  <table cellpadding="0px" cellspacing="0px" style="float:left; position: relative; width: 260px; padding-bottom: 10px; margin-left: 1px;">
                    <tr>
                      <th style="text-align: center;">Views</th>
                      <th style="text-align: center;">Nspre'd</th>
                      <th style="text-align: center;">Comments</th>
                    </tr>
                    <tr>
                      <td style="text-align: center;"><%= @view_count %></td>
                      <td style="text-align: center;"><%= @favorite_count %></td>
                      <td style="text-align: center;"><%= @comments.count %></td>
                    </tr>
                  </table>


				<div class="box">
					<h3>Share With Friends</h3>
                     <fb:like send="true" layout="box_count" width="450" show_faces="false"></fb:like>
                     <g:plusone></g:plusone>
                     <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="<%=request.url %>">Tweet</a>
				</div>

                <% unless @tags.blank? %>
                    <div class="box">
                        <h3>Tags</h3>
                        <%=render "tags" %>
                    </div>
                <% end %>
			<!--end box-->
			</div>


        </div>  <!-- End Main -->
    </div> <!-- End Center -->

    </div> <!-- Main Wrapper -->
<%= render :partial => "topbottom/footer" %>