<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>Nsprme.com - Share photos and images with your friends who are in your clique. Be and inspire others.</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "style" %>
    <%= stylesheet_link_tag "style1" %>

      <%= stylesheet_link_tag "prettyPhoto" %>
        <%= javascript_include_tag "prettyPhoto/jquery.prettyPhoto" %>
        <%= javascript_include_tag "custom" %>


</head>

<body id="top">

<%= yield %>

</body>
</html>